<div class="row">
  <div class="col-12">
    <div class="title">
      {{title}} <small>An Angular Experiment</small>
    </div>
  </div>
</div>
<div style="height: 100px"></div>
<div class="row">
  <div class="col-6">
    <list [options]="{
      highlight:true,
      listMax:5,
      needle:'name',
      endPoint: 'http://192.168.20.20/api/countries-by-needle/'
    }" (onSelection)="showSelected($event)">
    </list>
  </div>
  <div class="col-6">
    <pre class="results" [innerHTML]="row">
    </pre>
  </div>
</div>
