<div class="row">
  <div class="col-12">
    <div class="title">
      {{title}} <small>An Angular Experiment</small>
    </div>
  </div>
</div>
<div style="height: 100px"></div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <list [options]="{
      highlight:true,
      listMax:10,
      needle:'name',
      endPoint: 'http://192.168.20.20/api/countries-by-needle/'
    }"></list>
  </div>
  <div class="col-2"></div>
</div>

<!--<div class="row">-->
<!--  <div class="col-2"></div>-->
<!--  <div class="col-8">-->

<!--    <ul class="customRender">-->
<!--      <li class="customItem">-->
<!--        <table>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td rowspan="2">-->
<!--              <img src="./logo.f6794c52f6597359.png" alt="" class="iFlag">-->
<!--            </td>-->

<!--            <td>-->
<!--             City-->
<!--           </td>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              Capital-->
<!--            </td>-->
<!--            <td>-->
<!--              Code-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->

<!--        </table>-->
<!--      </li>-->
<!--    </ul>-->



<!--  </div>-->
<!--  <div class="col-2"></div>-->
<!--</div>-->
