
<div (clickOutside)="close()" class="selectWrapper">
  <div  #status [ngClass]="needleStatus?'status':'status error'" ></div>
  <div #dropToggle [ngClass]="listedItems.length>0?'dropToggle':'dropToggle error'"></div>
  <input #needle class="needle"
         type="text"
         aria-label="input"
         autocomplete="off"
         placeholder="Type Something...."
         (keyup)="keyboardHandler($event)"
        >
  <div #dropDown class="dropDownPanel">
    <div class="dropDown">
    </div>
  </div>
</div>
